<div class="row box">
  <div class="col-xs-5">
    <ul class="nav nav-tabs">
      <li role="presentation" [class.active]="showWhere === 0 "><a (click)="showWhere = 0">基本定义</a></li>
      <li role="presentation" [class.active]="showWhere === 1 "><a (click)="showWhere = 1">细节操作</a></li>
      <li role="presentation" [class.active]="showWhere === 2 "><a (click)="getOption();showWhere = 2">代码操作</a></li>
    </ul>
    <div class="hide" [class.show]="showWhere == 2">
      <div class="row">
        <div class="col-xs-4"><button type="button" class="btn btn-default" (click)="showOption()">输出配置到控制台</button></div>
        <div class="col-xs-3"><button type="button" class="btn btn-default" (click)="reDraw()">用配置重新绘图</button></div>
      </div>
      <div class="form-group">
        <label for="title">配置内容</label>
        <textarea class="form-control" rows="40" [value] ="myOption | json " #code1 (input)="dealCode(code1.value)"></textarea>
      </div>
      <!-- <div class="chart" myBMap [pos]="[113.13402564, 23.03509484]">

      </div> -->
    </div>
    <div class="hide" [class.show]="showWhere == 1">
      <app-detail-define (changeDetail)="getDetail($event)" [isDoubleY]="_isDoubleY" [isPie]="_isPie"></app-detail-define>
    </div>
    <div class="hide" [class.show]="showWhere == 0">
      <div class="row">
        <div class="col-xs-3">
          <label>
          <input type="checkbox" id="checkboxSuccess" value="1" (change) ="isPie($event)">
          饼图
          </label>
        </div>
        <div class="col-xs-3" *ngIf="_isPie">
          <label>
          <input type="checkbox" id="checkbox" value="1" (change) ="isRoseType($event)">
          南丁格尔图
          </label>
        </div>
        <div class="col-xs-3" *ngIf="!_isPie">
          <label>
          <input type="checkbox" id="checkbox" value="1" (change) ="isDoubleY($event)">
          双纵坐标
          </label>
        </div>
        <div class="col-xs-3" *ngIf="!_isPie">
          <label>
          <input type="checkbox" id="checkbox" value="1" (change) ="percentAdd1=!percentAdd1;firstAdd(percentAdd1)">
          第一纵坐标加%
          </label>
        </div>
        <div class="col-xs-3" *ngIf="!_isPie && _isDoubleY">
          <label>
          <input type="checkbox" id="checkbox" value="1" (change) ="percentAdd2=!percentAdd2;secondAdd(percentAdd2)">
          第二纵坐标加%
          </label>
        </div>
      </div>

      <form [formGroup]="basicTodo" *ngIf="basicTodo" class="myForm">
        <div class="form-group">
          <label for="unit">数据系列数</label>
          <select class="form-control" id="unit" formControlName="series_l">
          <option *ngFor="let item of items" [value]="item">{{item}}</option>
        </select>
        </div>
        <div class="form-group">
          <label for="title">图表名称</label>
          <input type="text" class="form-control" id="title" placeholder="" formControlName="title">
        </div>
        <div class="form-group">
          <label for="legend_data">数据类名</label>
          <input type="text" class="form-control" id="legend_data" placeholder="类名之间请用英文逗号分开" formControlName="legend_data">
        </div>
        <div class="form-group">
          <label for="xAxis_data">{{_isPie?'数据名称':'横坐标名称'}}</label>
          <input type="text" class="form-control" id="xAxis_data" [placeholder]="_isPie?'':'数据之间请用英文逗号分开'" formControlName="xAxis_data">
        </div>
        <div class="row">
          <div class="col-xs-5">
            <div formArrayName="series">
              <div class="form-group" *ngFor="let ctrl of basicTodo.controls['series'].controls; let i = index;">
                <label [for]="'series'+i">数据类名{{i+1}}数据</label>
                <input type="text" class="form-control" [id]="'series'+i" [placeholder]="_isPie?'':'数据之间请用英文逗号分开'" [formControlName]="i">
              </div>
            </div>
          </div>
          <div class="col-xs-3" *ngIf="!_isPie">
            <div formArrayName="seriesType" >
              <div class="form-group" *ngFor="let ctrl of basicTodo.controls['seriesType'].controls; let i = index;">
                <label [for]="'seriesType'+i">图表类型</label>
                <select class="form-control" [id]="'series'+i" [formControlName]="i">
              <option  value="bar">柱状图</option>
              <option  value="line">折线图</option>
            </select>
              </div>
            </div>
          </div>
          <div class="col-xs-2" *ngIf="!_isPie && _isDoubleY">
            <div formArrayName="yAxisIndex" >
              <div class="form-group" *ngFor="let ctrl of basicTodo.controls['yAxisIndex'].controls; let i = index;">
                <label [for]="'yAxisIndex'+i">所属纵坐标</label>
                <select class="form-control" [id]="'yAxisIndex'+i" [formControlName]="i">
              <option  value="0">左边</option>
              <option  value="1">右边</option>
            </select>
              </div>
            </div>
          </div>
          <div class="col-xs-2">
            <div formArrayName="colors">
              <div class="form-group" *ngFor="let ctrl of basicTodo.controls['colors'].controls; let i = index;">
                <label [for]="'colors'+i">颜色</label>
                <input class="form-control" type="color" name="favcolor" [formControlName]="i"/>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-default" (click)="initBasic()">重置并绘图</button>
      </form>
    </div>
    </div>
  <div class="col-xs-7">
    <div class="row">
      <div class="col-xs-3 form-inline">
        <div class="form-group">
          <label for="type">手机型号</label>
          <select class="form-control" id="type" value="736*414" #youPhone (change)="selectPhone(youPhone.value);changeSize(size,point.checked)">
            <option  value="736*414">iphone6 Plus</option>
            <option  value="1024*768">ipad</option>
            <option  value="667*375">iphone6</option>
            <option  value="568*320">iphone5</option>
            <option  value="480*320">iphone4</option>
            <option  value="1280*800">Nexus 10</option>
            <option  value="731*411">Nexus 5X</option>
            <option  value="773*435">Nexus 6P</option>
            <option  value="640*360">Galaxy Note 3</option>
            <option  value="640*360">Galaxy S5</option>
          </select>
        </div>
      </div>
      <div class="col-xs-2 form-inline">
        <label>
          <input type="checkbox" id="checkboxSuccess" value="1" #point (change)="changeSize(size,point.checked)">
          横屏
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 form-inline">
        <div class="form-group">
          <label for="l*w">长*宽</label>
          <input type="text" class="form-control" id="l*w" placeholder="736*414" value="736*414" #size (input)="changeSize(size,point.checked)">
        </div>
      </div>
    </div>
    <div class="chartOut" #phone>
      <div id="main1" class="chart" *ngIf="!_isPie"></div>
      <div id="main2" class="chart" *ngIf="_isPie"></div>
      <div class="row">
        <div class="col-xs-5" *ngIf="itemColor">
          <label for="itemColor">{{itemName}}</label>
          <input class="form-control" type="color" id="itemColor" name="favcolor" [(ngModel)]="itemColor" (change)="changeItemColor()"/>
        </div>
      </div>
      <div *ngIf="myChart" style="text-align:center;color:red">
        ps:点击数据能个性化改变对应的颜色
      </div>
    </div>
  </div>
</div>
